<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cesizen{% endblock %}</title>
{#    <link rel="stylesheet" href="/assets/styles.scss" />#}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
