<link rel="stylesheet" href="{{ asset('styles/components/header.css') }}">

<nav>
    <div class="logo">
        <img src="{{ asset('images/CesizenLogo.png') }}" alt="Cesizen logo" class="Cesizen-logo">

    </div>
    <ul>
        <li><a href="#">Diagnostic</a></li>
        <li><a href="#">Respiration</a></li>
        <li><a href="#">Emotions</a></li>
        <li><a href="/register">Inscription</a></li>
        <li><a href="/login">Connexion</a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="/logout">Déconnexion</a></li>



    </ul>
</nav>
<header>
    <div class="headline">
        <div class="inner">
            <h1>Hello</h1>
            <p>Scroll down the page</p>
        </div>
    </div>
</header>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ asset('js/header.js') }}" defer></script>


